*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --clr-dark: rgb(13, 17, 19);
    --clr-light: #fff;
    --clr-accent: rgb(222, 52, 0);
    --clr-accent-dark: rgb(163, 38, 0);
    --clr-secondary: rgb(0, 76, 199);
    --br: .5em;
}


body {
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-dark);
    color: var(--clr-light);
}

h1,
h2,
h3,
p {
    margin: 0;
    text-align: center;
}

img {
    max-width: 100%;
}


.game {
    position: relative;
    width: 12.5em;

}

.streamers {
    display: flex;
    text-align: center;

    img {
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }

}


.rank {
    position: absolute;
    font-weight: bold;
    top: -.5px;
    right: 0.75em;
    z-index: 1000;
    font-size: 1rem;
    background: rgba(0, 0, 0, .65);
    padding: .5em .5em .75em;
    clip-path: polygon(100% 0%, 100% 100%, 50% 87%, 0 100%, 0 0);
    transition: transform 250ms ease-in-out, opacity 100ms linear;
}



.front {
    transition: 250ms;

    .thumbnail {
        border-radius: var(--br);
    }

    .name {
        margin: 0.5em 0;
    }


    .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .streamers img {
        border: 1px solid var(--clr-dark);

        &:nth-of-type(1) {
            transform: translateX(45%);
            z-index: 1;
        }
        &:nth-of-type(2) {
            transform: translateX(25%);
        }
    }


}


.btn {
    cursor: pointer;
    border: 0;
    background: var(--clr-secondary);
    border-radius: 100vw;
    color: var(--clr-light);
    font-weight: bold;
    padding: .75em;
}


.back {
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    transform:translateY(35%) ;
   

    .streaming-info {
        columns: 2;
        column-rule: 1px solid rgba(255,255,255, 0.25);
    }

    .game-stat {
        font-size: 1.125rem;
        text-align: center;

        span {
            font-size: .85rem;
            display: block;
        }
    }
   
}


.background {
    background: rgb(40, 45, 55);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: scale(.2, .9);
    transition: 250ms;
    border-radius: var(--br);
    opacity: 0;
}

.game:hover {

    .rank {
        transform: translate(150%, -89%);

    }

    .front {
        transform: translateY(-30%) scale(.8);
    }

        .name {
        animation: gameName 250ms forwards;
    }

        .stats {
        opacity: 0;
    }

    .back {
        opacity: 1;
        transition: transform 250ms ease, opacity 150ms linear;
        transform: translateY(0);

        .streamers {
            width: 100%;
            justify-content: space-between;

        }

        .streamer {
            font-size: .8em;
            

        }

        .name {
            font-weight: bold;
        }

    }

    .background {
        transition: transform 250ms ease-in-out, opacity 100ms linear;
        opacity: 1;
        transform: scale(1.4, 1.3) translateY(3.85%);
    }
}

.streamers {

    .playerOne:hover {
        border: 1.5px solid red;
    }

    .playerTwo:hover {
        border: 1.5px solid red;
    }

    .playerThree:hover {
        border: 1.5px solid red;
    }

}


@keyframes gameName {
    0% {
        text-align: center;
        opacity: 1;
    }

    20% {
        text-align: center;
        opacity: 20%;
    }

    50% {
        text-align: center;
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        text-align: center;
        opacity: 1;
    }
}